# Ignore temporary directories
[Bb]uild/
[Bb]uilds/
[Ee]xportedObj/
[Ll]ibrary/
[Ll]ogs/
[Oo]bj/
[Tt]emp/

# Ignore IDE directories
.vs/
.consulo/

# Ignore IDE project files
*.booproj
*.csproj
*.sln
*.unityproj

# Ignore IDE config files
*.suo
*.svd
*.tmp
*.user
*.userprefs

# Ignore Unity exports
*.apk
*.unitypackage

# Ignore temporary databases
*.db
*.opendb
*.pdb
*.pdb.meta
*.pidb
*.pidb.meta

# Ignore crash dump
sysinfo.txt

# Never ignore this file or the source directories
!.gitignore
![Aa]ssets/
![Pp]rojectSettings/